/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

/.php-cs-fixer.php
/.php-cs-fixer.cache

database.env

/config/jwt/*.pem
